.App {
  display: contents;
}


.root {
  position: fixed;
  width: 100%;
}

body {
  margin: 0;
}

.body {
  font-family: Arial Black;
  font-size: medium;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  width: 100%;
  align-items: center;
}

.header .banner {
  background-color: #00008B;
  color: #FFFAFA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFAFA;
  display: flex;
  justify-content: space-around;
}

.header .nav{
  background-color: #4169E1;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header-button {
  color: #FFFAFA;
  background-color: inherit;
  border: none;
  font-size: calc(10px + 2vmin);
  font-family: Arial Black;
}

h2 {
  font-size: calc(10px + 2vmin);
  font-family: Arial Black;
}

.active {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 100px;
  background-color:  #00008B;
}

.gau {
  height: 70px;
  margin: 10px
}

.gau img{
  height: 70px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
